html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 18px;
}
body {
  font-family: Helvetica, Helvetica Neue, Arial;
  line-height: 1.5em;
}
.align--center {
  text-align: center;
}
.layout--constrained {
  position: relative;
  max-width: 60em;
  margin: 3em auto;
}
.list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--horz > li {
  display: inline-block;
  vertical-align: middle;
}
.members {
  font-size: 0;
  margin: 3rem 0;
}
.member {
  width: 33.33333333%;
  padding: 0 0.75em;
  font-size: 1.075rem;
  line-height: 1.75em;
  color: rgba(0,0,0,0.8);
  margin: 0 0 2.5em;
}
.member__image {
  background-color: #F5F5F5;
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 75%;
}
.member__name {
  margin-top: 0.1em;
}
